{% extends 'base.html' %}

{% block title %}Create Board{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="card text-center" style="width: 24rem;">
            <div class="card-body ml-auto mr-auto">
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group">
                        {{ field }}
                        {% if field.help_text %}
                        <small style="color: green">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endfor %}
                    <button class="btn btn-primary" type="submit">Create Board</button>
                </form>
            </div>
        </div>
    </div>

</div>
{% endblock %}