{% extends "base.html" %}

{% block title %}WITBoards - {{ category.category_title }}{% endblock %}

{% block content %}
<h3>{{ category.category_title }}</h3>
<div class="pt-2 pb-3">
    <a class="btn btn-primary" href="/forms/post/add/{{ category.pk }}" role="button">Create New Post</a>
</div>
<!-- TODO: Page layout -->
{% for post in posts %}
<a href="/post/{{ post.pk }}" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ post.post_title }}</h5>

        {% load tz %}
        {% timezone "America/New_York" %}
        <small class="text-muted">{{ post.post_time }}</small>
        {% endtimezone %}
    </div>
    <p class="mb-1 text-truncate">{{ post.post_text }}</p>
    <small class="text-muted">{{ post.User.user_username }}</small>
  </a>
{% endfor %}
{% endblock %}