{% extends "base.html" %}

{% block title %}WITBoards{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class=" navbar-brand" href="/"><span class="text-primary">WIT</span>Boards</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Zoom
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for zoom in zoom_list %}
                    {% if zoom.User == user %}
                    <a class="dropdown-item" href="{{ zoom.zoom_url }}">{{ zoom.zoom_title }}</a>
                    {% endif %}
                    {% endfor %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/forms/zoom/add">Add Zoom link</a>
                </div>
            </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <li>
                <span class="nav-link disabled text-primary">Hi {{ user.first_name }}!</span>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/{{ user.id }}">Profile</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a href="{% url 'login' %}" class="nav-link">Login</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'signup' %}" class="nav-link">Sign up</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
<!-- TODO: Page layout -->
<div class="container-fluid justify-content-center">
    <h3>Home</h3>
    {% if boards %}
    {% if user.is_superuser %}
    <div class="pt-2 pb-2">
        <a href="/forms/board/add" class="card-link btn btn-primary">Create New Board</a>
    </div>
    {% endif %}
    <div class="row row-cols-4 h-50 justify-content-around">
        {% for board in boards %}
        <div id="{{ board.board.pk }}" class="col rounded border border-light pl-0 pr-0 mt-5 shadow">
            <ul class="list-group">
                <li class="list-group-item text-center"><b style="font-size: large;">{{ board.board.board_title }}</b>
                </li>
                {% for category in board.categories %}
                <a class="list-group-item list-group-item-action" href="/category/{{ category.id }}">
                    {{ category.category.category_title }}
                    {% if category.category.post_set.count > 0 %}
                    <span class="badge badge-primary">{{ category.category.post_set.count }}
                        {% if category.category.post_set.count == 1 %}post{% else %}posts{% endif %}
                    </span>
                    {% endif %}
                </a>
                {% endfor %}
                {% if user.is_superuser %}
                <a class="list-group-item list-group-item-action" href="/forms/category/add/{{ board.board.pk }}"><small
                        class="text-muted">+Add Another Category</small></a>
                {% endif %}
            </ul>
        </div>
        {% if forloop.counter|divisibleby:"3" %}
    </div>
    <div class="row row-cols-4 justify-content-around">
        {% endif %}
        {% endfor %}
        {% else %}
        <div class="container">
            <div class="row justify-content-center">
                <div class="card text-center" style="width: 24rem;">
                    <div class="card-body ml-auto mr-auto">
                        <h5 class="card-title">You don't have any boards yet...</h5>
                        <p class="card-text">Make a new home for your university class or favorite subject!</p>
                        <a href="/board" class="card-link btn btn-primary">Create Board</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    {% endblock %}