{% extends "base.html" %}

{% block title %}WIT Forum{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class=" navbar-brand" href="/"><span class="text-primary">WIT</span>Boards</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Zoom
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for zoom in zoom_list %}
                        {% if zoom.User == user %}
                            <a class="dropdown-item" href="{{ zoom.zoom_url }}">{{ zoom.zoom_title }}</a>
                        {% endif %}
                    {% endfor %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/forms/zoom/add">Add Zoom link</a>
                </div>
            </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <li>
                <span class="nav-link disabled text-primary">Hi {{ user.first_name }}!</span>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/">Profile</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a href="{% url 'login' %}" class="nav-link">Login</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'signup' %}" class="nav-link">Sign up</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
<!-- TODO: Page layout -->

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/#{{ category.Board.pk }}">{{ post.Category.Board.board_title }}</a></li>
    <li class="breadcrumb-item"><a href="/category/{{ post.Category.pk }}">{{ post.Category.category_title }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ post.post_title }}</li>
  </ol>
</nav>


<h3 class="card-title">{{ post.post_title }}</h3>

{% load markdown_extras %}

<div class="card mb-4">
    <div class="row no-gutters">
        <div class="col-2 border-right">
            <div class="m-3 text-center">
                <img src="https://picsum.photos/200" class="card-img" alt="">
                <p class="pt-1 text-muted">
                    {{ post.User.first_name }} {{ post.User.last_name }}<br/>
                    <small class="text-muted">{{ post.User.username }}</small><br/>
                    <small class="text-muted">{{ post.User.user_department }}</small>
                </p>
            </div>
        </div>
        <div class="col">
            <div class="card-body">

                <p class="card-text">{{ post.post_text | markdown | safe }}</p>

                {% load tz %}
                {% timezone "America/New_York" %}
                <p class="card-text align-self-end"><small class="text-muted">{{ post.post_time }}</small></p>
                {% endtimezone %}
            </div>
            {% if post.User.user_signature %}
                <div class="card-body border-top align-self-end">
                    <p class="card-text text-muted text-center">{{ post.User.user_signature | markdown | safe }}</p>
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% for comment in comments %}
<div class="card mb-4">
    <div class="row no-gutters">
        <div class="col-2 border-right">
            <div class="m-3 text-center">
                <img src="https://picsum.photos/200" class="card-img" alt="">
                <p class="pt-1 text-muted">
                    {{ comment.User.first_name }} {{ comment.User.last_name }}<br/>
                    <small class="text-muted">{{ comment.User.username }}</small><br/>
                    <small class="text-muted">{{ comment.User.user_department }}</small>
                </p>
            </div>
        </div>
        <div class="col">
            <div class="card-body">
                <p class="card-text">{{ comment.comment_text | markdown | safe }}</p>

                {% load tz %}
                {% timezone "America/New_York" %}
                <p class="card-text align-self-end"><small class="text-muted">{{ comment.comment_time }}</small></p>
                {% endtimezone%}
            </div>
            {% if comment.User.user_signature %}
                <div class="card-body border-top align-self-end">
                    <p class="card-text text-muted text-center">{{ comment.User.user_signature | markdown | safe }}</p>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}

<form action="/forms/comment/add/{{ post.pk }}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {% if user.is_authenticated %}
        <button class="btn btn-primary" type="submit">Reply</button>
    {% else %}
        <button class="btn btn-primary disabled">Reply</button>
        <p>You must sign in to reply.</p>
    {% endif %}
</form>
{% endblock %}