{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="container">
    <h2>Sign up</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            {{ field }}
            {% if field.help_text %}
            <small style="color: green">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
        </div>
        {% endfor %}
        <button class="btn btn-primary" type="submit">Sign up</button>
    </form>
</div>
{% endblock %}